[ndb_mgmd]
config-file=/etc/my.cnf.d/config.ini

[server]
#ndb-batch-size=32768
ndb-cluster-connection-pool=4
#ndb-blob-read-batch-bytes=65536
#ndb-blob-write-batch-bytes=65536
ndb-connectstring=localhost:1186
#ndb-distribution=KEYHASH
ndbcluster
#ndb-log-apply-status=OFF
#ndb-log-empty-epochs=OFF
#ndb-log-exclusive-reads=0
#ndb-log-orig=OFF
#ndb-log-transaction-id=OFF
#ndb-nodeid=
#ndb_optimization_delay=10
#ndb-recv-thread-activation-threshold=8
#ndb-recv-thread-cpu-mask=
#ndb-transid-mysql-connection-map=ON
#ndb-wait-connected=0
#ndb-wait-setup=15
#server-id-bits=32
